html, body, #app {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
}

:focus {
    outline: 0; /* Not friendly */
}

::-webkit-inner-spin-button {
    display: none;
}

svg[hidden] {
    display: none;
}

.iconfont, [class^='icon-'], [class*=' icon-'] {
    font-family: 'font_family', serif !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-submenu [class^='icon-'], .el-menu-item [class^='icon-'] {
    vertical-align: middle;
    margin-right: 10px;
    width: 24px;
    text-align: center;
    font-size: 25px;
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.float-clear:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.tap {
    pointer-events: auto;
    cursor: pointer;
}

.text-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body, a {
    color: rgb(53, 53, 53);
    /*background-color: #324157;*/
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0;
}

img {
    max-width: 100%;
}

[class^='czs-'], [class^='icon-'] {
    display: inline-block;
}

.loading-group {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #f5f7f9;
    opacity: 1;
    /*#495060;*/
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    /*background: -webkit-linear-gradient(to top, #d7dde8, #495060);*/
    /*background: linear-gradient(to top, #d7dde8, #495060);*/
}

.loading-group .title {
    color: #495060;
    /*#fff;*/
    font-weight: bold;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: .2em;
}

.loading-group .sub-title {
    color: #495060;
    font-size: 10px;
}

.loading-group .sk-cube-grid {
    width: 30px;
    height: 30px;
}

.loading-group .sk-cube-grid .sk-cube {
    width: 10px;
    height: 10px;
    background-color: #495060;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    border-top-left-radius: 4px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.sk-cube-grid .sk-cube3 {
    border-top-right-radius: 4px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.sk-cube-grid .sk-cube7 {
    border-bottom-left-radius: 4px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.sk-cube-grid .sk-cube9 {
    border-bottom-right-radius: 4px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.el-main::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    /* background-color: #fafafa; */
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

::-webkit-scrollbar-thumb:active {
    background-color: #cccccc;
}

#nprogress .spinner {
    right: 42px !important;
    top: 20px !important;
}

.float-clear:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
